body
{
    background-color: rgb(49, 49, 49);
    color: white;
    font-family:  'Fjalla One', sans-serif;
    font-size: 20px;
    
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle
{
    width: 960px;
    margin: 20px;
    text-align: center;
}

.square
{
    width: 50%;
    float: left;
}
#logo
{
    float: left;
    width: 600px;
    font-size: 70px;
    color: white;
    font-family:  'Fjalla One', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;

}
.tile1
{
   margin: 10px; 
   width: 180px;
   float: left;
   height: 92px;
   background-color: rgb(120, 189, 74);
   font-family: 'Comfortaa', cursive;
   padding: 25px;
   font-size: 25px;
   text-align: center;

}
.tile2
{
   margin: 10px; 
   float: left;
   width: 180px;
   height: 92px;
   background-color: rgb(42, 129, 163);
   font-family: 'Comfortaa', cursive;
   font-size: 25px;
   padding: 25px;
   text-align: center;
   
}
.tile3
{
   margin: 10px; 
   width: 450px;
   height: 112px;
   background-color: rgb(192, 81, 47);
   font-family: 'Comfortaa', cursive;
   font-size: 35px;
   text-align: center;
   padding: 15px;
   
}
.tile4
{
   margin: 10px; 
   width: 480px;
   height: 304px;
   background-color: rgb(103, 103, 104);
   font-family: 'Zen Dots', cursive;
   font-size: 40px;
   text-align: center;
}
.gh
{   
    width: 87px;
    margin: 10px;
    height: 82px;
    background-color:  rgb(120, 189, 74);
    float: left;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    
   
}
.mc
{
    width: 127px;
    margin: 10px;
    height: 122px;
    background-color:  rgb(120, 189, 74);
    float: left;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    
    
    
}
.tb
{
    width: 86px;
    margin: 10px;
    height: 82px;
    background-color:  rgb(120, 189, 74);
    float: left;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    

}
a.tilelink
{
    color: white;
    text-decoration: none

}